*  {
    margin: 0;
    padding: 0;
    border: 0;
}


  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  /* font-family: 'Bebas Neue', sans-serif;
  */
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@700&display=swap');
  /* font-family: 'Oswald', sans-serif;
     font-family: 'Roboto', sans-serif; 
  */

  

