:root{
    --primaria: #DCF5EE;
    --secundaria: #E1896E;
    --terciaria: #2E5153;
    --quarta: #F6F6F6;

}

body {
    background-color: var(--terciaria);
    color: white;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    
}

header {
    display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
    height: 70px;
}

.navbar {
    cursor: pointer;
    display: flex;
    justify-self: flex-end;
    justify-items: flex-end;
}

#logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 50px;
  }
  
header span {
    margin-right: auto;
  }

.nav-img {
    height: 25px;
    width: 25px;
}

.content {
    color:var(--primaria);
    font-size: 70px;
    font-family: Bebas Neue;
}

h1 {
    text-align: center;
    color: var(--secundaria);
}

.icon {
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.img-habilidades {
    height: 40px;
    width: 40px;
}


