@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  /* font-family: 'Bebas Neue', sans-serif;
  */
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@700&display=swap');
  /* font-family: 'Oswald', sans-serif;
     font-family: 'Roboto', sans-serif; 
  */
 
  @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Staatliches&display=swap');
    /* font-family: 'Bruno Ace SC', cursive;
       font-family: 'Staatliches', cursive;
    */

:root{
    --branco: #9370DB;
    --prata: #C0C0C0;
    --verde: #006400;
    --cinza: #333333;

}

body {
    font-family: 'Oswald', sans-serif;
    align-items: center;
}


header {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
     padding: 20px;
    height: 70px;
    color: var(--prata);
    font-family: 'Roboto', sans-serif; 
}

.navbar {
    cursor: pointer;
    display: flex;
    justify-self: flex-end;
    justify-items: flex-end;
}

#logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 50px;
  }
  
header span {
    margin-right: auto;
  }

.nav-img {
    height: 25px;
    width: 25px;
}

#inicio {
   font-size: 30px;
   margin-left: 70px;
   text-align: center;
}

.container {
    margin-top: 20px;
    text-align: center;
}

#inicio::before {
    content: "";
    position: absolute;
    height: 850px;
    width: 100vw;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgb(147, 112, 219) 0%, rgba(0, 0, 0, 0.7) 100%);
    z-index: -1;
  }


.front {
    font-size: 200px;
    font-family:'Oswald', sans-serif;;
    font-weight: bolder;
    height: 100vh;
    width: 100vw;
    font-stretch: expanded;
    display: inline-block;
    
}

h1 {
    text-align: center;
    color: var(--azul-escuro);
}

.icon {
    cursor: pointer;
    height: 50px;
    width: 50px;
}




#container-projetos {
    margin-top: 120px;
}

#container-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;

}

.projeto-card {
    border-radius: 30px;
    background-color: var(--verde);
    width: 200px;
    height: 300px;
    padding: 50px;
    margin-bottom: 70px;
    margin-left: 60px;
    
}

.projeto-foto {
    max-width: 100%;
    height: auto;

}

#certificados {
    height: 350px;
    width: 100vw;
}



.link-img {
    height: 25px;
    width: 25px;
}

.img-habilidades {
    height: 40px;
    width: 40px;
}

#voltar img {
    height: 40px;
    width: 40px;
    align-self: flex-end;
}



